In [77]:
import pandas as pd 
import numpy as np
from datetime import datetime

In [9]:
cd '/Users/augustincablant/Documents/GitHub/Viager'

/Users/augustincablant/Documents/GitHub/Viager

In [80]:
date_reference = datetime(1960, 1, 1)
date_a_convertir = datetime(2005, 2, 18)
print((date_a_convertir - date_reference).days)

16485

In [10]:
#Téléchargement du dataset des vendeurs 
df = pd.read_csv('Data/seller.csv')
df.head()

,Unnamed: 0,X,b_sexe,bcode,b_ville,b_pays,dcode,acte,b_nom,b_prenoms,...,tranche_age,age_acte,dec1,dec2,dec3,sexe_homme,idf,etranger,une_tete,type_libre
0,0,123,2,29279,TAULE,NaN,75116,189,ABOMES,PAULE MARIE,...,2,75,0,0,1,0,0,0,1,1
1,1,586,2,99107,RIGA,LETTONIE,75108,000000149,ABRAMA,MONIKA,...,1,61,0,0,0,0,0,1,1,0
2,2,614,1,87085,LIMOGES,NaN,92051,00203,ADAM,ETIENNE JACQUES MARIE,...,4,90,1,0,0,1,0,0,1,0
3,3,883,2,99114,BUCAREST,ROUMANIE,75116,000001222,ADANIA,SOFIA,...,3,77,0,1,0,0,0,1,1,0
4,4,1452,1,75108,PARIS 8,NaN,75113,00171,AKAR,ETIENNE DAVID,...,3,78,0,1,0,1,1,0,0,0

In [72]:
df[['b_sexe',
 'bcode',
 'b_ville',
 'b_pays',
 'dcode',
 'acte',
 'b_nom',
 'b_prenoms',
 'b_annee',
 'b_mois',
 'b_jour',
 'b_dep',
 'd_annee',
 'd_mois',
 'd_jour',
 'd_dep',
 'acte',
 'dateA',
 'dateN',
 'dateD']]

,b_sexe,bcode,b_ville,b_pays,dcode,acte,b_nom,b_prenoms,b_annee,b_mois,b_jour,b_dep,d_annee,d_mois,d_jour,d_dep,acte,dateA,dateN,dateD
0,2,29279,TAULE,NaN,75116,189,ABOMES,PAULE MARIE,1919,8,14,29,2005,2,18,75,189,12774,-14750,16485
1,2,99107,RIGA,LETTONIE,75108,000000149,ABRAMA,MONIKA,1925,5,21,99,2002,9,9,75,000000149,9645,-12643,15592
2,1,87085,LIMOGES,NaN,92051,00203,ADAM,ETIENNE JACQUES MARIE,1903,8,26,87,1997,2,23,92,00203,12260,-20582,13568
3,2,99114,BUCAREST,ROUMANIE,75116,000001222,ADANIA,SOFIA,1914,9,18,99,2002,12,6,75,000001222,11442,-16541,15680
4,1,75108,PARIS 8,NaN,75113,00171,AKAR,ETIENNE DAVID,1911,12,23,75,1997,1,20,75,00171,10777,-17541,13534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,2,45097,CHUELLES,NaN,45155,213,GEOFFROY,ODETTE HENRIETTE,1928,5,6,45,2021,5,27,45,213,16811,-11562,22427
950,2,75115,PARIS 15E ARRONDISSEMENT,NaN,92024,764,DE NATTES,COLETTE LOUISE,1921,5,8,75,2012,12,6,92,764,14245,-14117,19333
951,2,75115,PARIS 15E ARRONDISSEMENT,NaN,75117,584,DE NATTES,SIMONE,1920,4,24,75,2019,12,5,75,584,14516,-14496,21888
952,2,75116,PARIS 16E ARRONDISSEMENT,NaN,75116,108,DE PLAN DE SIEYES DE VEYNES,CLAUDE ANTOINETTE MARIE,1930,4,5,75,2019,1,23,75,108,14777,-10863,21572
953,2,56121,LORIENT,NaN,75105,00281,DE LA BIGNE,ANNE MARIE,1911,1,11,56,1998,4,30,75,00281,9115,-17887,13999

In [64]:
#Téléchargement des données de l'INSEE
insee = pd.read_excel('https://www.insee.fr/fr/statistiques/fichier/2416631/demo-deces-esp-vie-age-2.xlsx')
def function_insee(dataframe):
    columns = ["Espérance de vie à divers âges hommes"] + list(dataframe[3:4].values[0])[1:]
    dataframe = dataframe[3:]
    dataframe.columns = columns 
    dataframe = dataframe[1:]
    dataframe["Espérance de vie à divers âges femmes"] = list(dataframe.iloc[:,0].values)
    insee_hommes = dataframe.iloc[:, 0:7]
    insee_femmes = dataframe.iloc[:, 7:]
    return insee_hommes, insee_femmes
insee_hommes, insee_femmes = function_insee(insee)
insee_hommes.head()

,Espérance de vie à divers âges hommes,à 0 an,à 1 an,à 20 ans,à 40 ans,à 60 ans,à 65 ans
4,2023,85.7,85.1,66.2,46.6,27.9,23.6
5,2022,85.1,84.4,65.6,46,27.3,23
6,2021,85.2,84.5,65.7,46,27.4,23.1
7,2020,85.1,84.4,65.5,45.9,27.3,22.9
8,2019,85.6,84.8,66,46.4,27.8,23.4

In [32]:
list(insee[3:4].values[0])[1:]

['à 0 an',
 'à 1 an',
 'à 20 ans',
 'à 40 ans',
 'à 60 ans',
 'à 65 ans',
 'à 0 an',
 'à 1 an',
 'à 20 ans',
 'à 40 ans',
 'à 60 ans',
 'à 65 ans']

In [60]:
list(df2.iloc[:,0].values)

[nan,
 2023,
 2022,
 2021,
 2020,
 2019,
 2018,
 2017,
 2016,
 2015,
 '2014 y c. Mayotte',
 '2014 hors Mayotte',
 2013,
 2012,
 2011,
 2010,
 2009,
 2008,
 2007,
 2006,
 2005,
 2004,
 2003,
 2002,
 2001,
 2000,
 1999,
 1998,
 1997,
 1996,
 1995,
 1994,
 'p : données provisoires arrêtées à fin 2023.',
 "Lecture\xa0: en 2023, l’espérance de vie des femmes à la naissance est de 85,7 ans et l'espérance de vie des femmes de 60 ans est de 27,9 ans. Ce dernier chiffre représente le nombre d'années restant à vivre aux femmes de 60 ans dans les conditions de mortalité à chaque âge observées en 2023.",
 "Champ : France hors Mayotte jusqu'en 2014 et y compris Mayotte à partir de 2014.",
 "Source : Insee, estimations de population et statistiques de l'état civil."]

In [63]:
df2.iloc[:, 7:]

,à 0 an,à 1 an,à 20 ans,à 40 ans,à 60 ans,à 65 ans,Espérance de vie à divers âges femmes
3,à 0 an,à 1 an,à 20 ans,à 40 ans,à 60 ans,à 65 ans,NaN
4,80,79.4,60.6,41.4,23.7,19.8,2023
5,79.3,78.6,59.8,40.7,23,19.1,2022
6,79.2,78.5,59.7,40.5,22.9,19,2021
7,79.1,78.4,59.6,40.4,22.8,18.9,2020
8,79.7,79,60.3,41.1,23.4,19.6,2019
9,79.5,78.9,60.1,40.9,23.3,19.5,2018
10,79.4,78.7,60,40.8,23.2,19.4,2017
11,79.3,78.6,59.8,40.6,23.1,19.3,2016
12,79,78.3,59.6,40.4,22.9,19.1,2015
13,79.2,78.5,59.8,40.6,23.1,19.3,2014 y c. Mayotte
14,79.2,78.5,59.8,40.6,23.1,19.3,2014 hors Mayotte
15,78.7,78.1,59.3,40.1,22.8,19,2013
16,78.5,77.8,59,39.9,22.6,18.8,2012
17,78.4,77.7,59,39.9,22.7,18.9,2011
18,78,77.3,58.6,39.5,22.4,18.6,2010
19,77.7,77.1,58.3,39.3,22.2,18.4,2009
20,77.6,76.9,58.2,39.1,22,18.2,2008
21,77.4,76.7,58,39,21.9,18.1,2007
22,77.1,76.5,57.8,38.8,21.8,18,2006
23,76.7,76,57.4,38.4,21.4,17.7,2005
24,76.7,76,57.3,38.4,21.5,17.7,2004
25,75.8,75.2,56.5,37.6,20.8,17.1,2003
26,75.7,75.1,56.4,37.6,20.8,17.1,2002
27,75.4,74.8,56.2,37.4,20.6,16.9,2001
28,75.2,74.6,56,37.2,20.4,16.7,2000
29,74.9,74.3,55.7,37,20.2,16.5,1999
30,74.7,74.1,55.5,36.8,20,16.4,1998
31,74.5,73.9,55.3,36.7,19.9,16.3,1997
32,74.1,73.5,54.9,36.4,19.7,16.1,1996
33,73.8,73.2,54.7,36.3,19.7,16.1,1995
34,73.6,73.1,54.6,36.3,19.7,16.2,1994
35,NaN,NaN,NaN,NaN,NaN,NaN,p : données provisoires arrêtées à fin 2023.
36,NaN,NaN,NaN,NaN,NaN,NaN,"Lecture : en 2023, l’espérance de vie des femm..."
37,NaN,NaN,NaN,NaN,NaN,NaN,Champ : France hors Mayotte jusqu'en 2014 et y...
38,NaN,NaN,NaN,NaN,NaN,NaN,"Source : Insee, estimations de population et s..."

In [61]:
df2["Espérance de vie à divers âges femmes"] = list(df2.iloc[:,0].values)

/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_56031/1317996677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Espérance de vie à divers âges femmes"] = list(df2.iloc[:,0].values)

In [62]:
df2

,Espérance de vie à divers âges,à 0 an,à 1 an,à 20 ans,à 40 ans,à 60 ans,à 65 ans,à 0 an,à 1 an,à 20 ans,à 40 ans,à 60 ans,à 65 ans,Espérance de vie à divers âges femmes
3,NaN,à 0 an,à 1 an,à 20 ans,à 40 ans,à 60 ans,à 65 ans,à 0 an,à 1 an,à 20 ans,à 40 ans,à 60 ans,à 65 ans,NaN
4,2023,85.7,85.1,66.2,46.6,27.9,23.6,80,79.4,60.6,41.4,23.7,19.8,2023
5,2022,85.1,84.4,65.6,46,27.3,23,79.3,78.6,59.8,40.7,23,19.1,2022
6,2021,85.2,84.5,65.7,46,27.4,23.1,79.2,78.5,59.7,40.5,22.9,19,2021
7,2020,85.1,84.4,65.5,45.9,27.3,22.9,79.1,78.4,59.6,40.4,22.8,18.9,2020
8,2019,85.6,84.8,66,46.4,27.8,23.4,79.7,79,60.3,41.1,23.4,19.6,2019
9,2018,85.4,84.7,65.9,46.3,27.7,23.3,79.5,78.9,60.1,40.9,23.3,19.5,2018
10,2017,85.3,84.6,65.8,46.1,27.6,23.2,79.4,78.7,60,40.8,23.2,19.4,2017
11,2016,85.3,84.6,65.7,46.1,27.6,23.2,79.3,78.6,59.8,40.6,23.1,19.3,2016
12,2015,85.1,84.4,65.6,45.9,27.4,23,79,78.3,59.6,40.4,22.9,19.1,2015
13,2014 y c. Mayotte,85.4,84.7,65.8,46.2,27.7,23.3,79.2,78.5,59.8,40.6,23.1,19.3,2014 y c. Mayotte
14,2014 hors Mayotte,85.4,84.7,65.8,46.2,27.7,23.3,79.2,78.5,59.8,40.6,23.1,19.3,2014 hors Mayotte
15,2013,85,84.3,65.5,45.9,27.4,23,78.7,78.1,59.3,40.1,22.8,19,2013
16,2012,84.8,84.1,65.3,45.7,27.2,22.8,78.5,77.8,59,39.9,22.6,18.8,2012
17,2011,85,84.3,65.4,45.8,27.4,23,78.4,77.7,59,39.9,22.7,18.9,2011
18,2010,84.6,83.9,65.1,45.5,27.1,22.7,78,77.3,58.6,39.5,22.4,18.6,2010
19,2009,84.4,83.7,64.9,45.3,27,22.6,77.7,77.1,58.3,39.3,22.2,18.4,2009
20,2008,84.3,83.6,64.8,45.2,26.8,22.5,77.6,76.9,58.2,39.1,22,18.2,2008
21,2007,84.4,83.6,64.8,45.3,26.9,22.5,77.4,76.7,58,39,21.9,18.1,2007
22,2006,84.2,83.5,64.7,45.1,26.7,22.4,77.1,76.5,57.8,38.8,21.8,18,2006
23,2005,83.8,83.1,64.3,44.8,26.4,22,76.7,76,57.4,38.4,21.4,17.7,2005
24,2004,83.8,83.1,64.4,44.8,26.5,22.1,76.7,76,57.3,38.4,21.5,17.7,2004
25,2003,82.9,82.2,63.5,44,25.6,21.3,75.8,75.2,56.5,37.6,20.8,17.1,2003
26,2002,83,82.3,63.6,44.1,25.8,21.4,75.7,75.1,56.4,37.6,20.8,17.1,2002
27,2001,82.9,82.2,63.5,44,25.7,21.4,75.4,74.8,56.2,37.4,20.6,16.9,2001
28,2000,82.8,82.1,63.4,43.9,25.6,21.2,75.2,74.6,56,37.2,20.4,16.7,2000
29,1999,82.5,81.8,63.1,43.7,25.3,21,74.9,74.3,55.7,37,20.2,16.5,1999
30,1998,82.4,81.7,63,43.6,25.3,20.9,74.7,74.1,55.5,36.8,20,16.4,1998
31,1997,82.3,81.6,62.9,43.5,25.2,20.9,74.5,73.9,55.3,36.7,19.9,16.3,1997
32,1996,82,81.4,62.6,43.3,25,20.7,74.1,73.5,54.9,36.4,19.7,16.1,1996
33,1995,81.9,81.2,62.5,43.2,24.9,20.6,73.8,73.2,54.7,36.3,19.7,16.1,1995
34,1994,81.8,81.3,62.6,43.3,25,20.7,73.6,73.1,54.6,36.3,19.7,16.2,1994
35,p : données provisoires arrêtées à fin 2023.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p : données provisoires arrêtées à fin 2023.
36,"Lecture : en 2023, l’espérance de vie des femm...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lecture : en 2023, l’espérance de vie des femm..."
37,Champ : France hors Mayotte jusqu'en 2014 et y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Champ : France hors Mayotte jusqu'en 2014 et y...
38,"Source : Insee, estimations de population et s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Source : Insee, estimations de population et s..."