In [1]:
import pandas as pd 
import numpy as np
from datetime import datetime, timedelta
import re
import requests

In [9]:
cd '/Users/augustincablant/Documents/GitHub/Viager'

/Users/augustincablant/Documents/GitHub/Viager

In [111]:
#Téléchargement du dataset des vendeurs 
df = pd.read_csv('Data/seller.csv')
df.head()

,Unnamed: 0,X,b_sexe,bcode,b_ville,b_pays,dcode,acte,b_nom,b_prenoms,...,tranche_age,age_acte,dec1,dec2,dec3,sexe_homme,idf,etranger,une_tete,type_libre
0,0,123,2,29279,TAULE,NaN,75116,189,ABOMES,PAULE MARIE,...,2,75,0,0,1,0,0,0,1,1
1,1,586,2,99107,RIGA,LETTONIE,75108,000000149,ABRAMA,MONIKA,...,1,61,0,0,0,0,0,1,1,0
2,2,614,1,87085,LIMOGES,NaN,92051,00203,ADAM,ETIENNE JACQUES MARIE,...,4,90,1,0,0,1,0,0,1,0
3,3,883,2,99114,BUCAREST,ROUMANIE,75116,000001222,ADANIA,SOFIA,...,3,77,0,1,0,0,0,1,1,0
4,4,1452,1,75108,PARIS 8,NaN,75113,00171,AKAR,ETIENNE DAVID,...,3,78,0,1,0,1,1,0,0,0

In [116]:
df_travail = df[['b_sexe',
                'dateA',
                'dateN',
                'dateD']]
df_travail['deces_theorique'] = 0

/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_56031/1229763422.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_travail['deces_theorique'] = 0

In [130]:
def from_num_to_date(row):
    date_reference = datetime(1960, 1, 1)
    nombre_de_jours = row 
    date = date_reference + timedelta(days=nombre_de_jours)
    return date

def convert_year(row):
    return row.days / 365


df_travail['date_naissance'] = df_travail['dateN'].apply(from_num_to_date)
df_travail['date_acte'] = df_travail['dateA'].apply(from_num_to_date)
df_travail['date_deces'] = df_travail['dateD'].apply(from_num_to_date)
df_travail['deces_effectif'] = (df_travail['dateD'] - df_travail['dateA']) / 365
df_travail['age_acte'] = (df_travail['date_acte'] - df_travail['date_naissance']) 
df_travail['age_acte'] = df_travail['age_acte'].apply(convert_year)
df_travail.head()

/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_56031/3301490477.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_travail['date_naissance'] = df_travail['dateN'].apply(from_num_to_date)
/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_56031/3301490477.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_travail['date_acte'] = df_travail['dateA'].apply(from_num_to_date)
/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_56031/3301490477.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_travail['date_deces'] = df_travail['dateD'].apply(from_num_to_date)
/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_56031/3301490477.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_travail['deces_effectif'] = (df_travail['dateD'] - df_travail['dateA']) / 365
/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_56031/3301490477.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_travail['age_acte'] = (df_travail['date_acte'] - df_travail['date_naissance'])
/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_56031/3301490477.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_travail['age_acte'] = df_travail['age_acte'].apply(convert_year)

,b_sexe,dateA,dateN,dateD,deces_theorique,date_naissance,date_acte,date_deces,deces_effectif,age_acte
0,2,12774,-14750,16485,0,1919-08-14,1994-12-22,2005-02-18,10.167123,75.408219
1,2,9645,-12643,15592,0,1925-05-21,1986-05-29,2002-09-09,16.293151,61.063014
2,1,12260,-20582,13568,0,1903-08-26,1993-07-26,1997-02-23,3.583562,89.978082
3,2,11442,-16541,15680,0,1914-09-18,1991-04-30,2002-12-06,11.610959,76.665753
4,1,10777,-17541,13534,0,1911-12-23,1989-07-04,1997-01-20,7.553425,77.583562

In [107]:
#Téléchargement des données de l'INSEE
insee = pd.read_excel('https://www.insee.fr/fr/statistiques/fichier/2416631/demo-deces-esp-vie-age-2.xlsx')
def function_insee(dataframe):
    columns = ["Espérance de vie à divers âges hommes"] + [int(re.findall(r'\d+', element)[0]) for element in list(dataframe[3:4].values[0])[1:]]
    dataframe = dataframe[3:]
    dataframe.columns = columns 
    dataframe = dataframe[1:]
    dataframe["Espérance de vie à divers âges femmes"] = list(dataframe.iloc[:,0].values)
    insee_hommes = dataframe.iloc[:, 0:7]
    insee_femmes = dataframe.iloc[:, 7:]
    return insee_hommes, insee_femmes
insee_hommes, insee_femmes = function_insee(insee)

In [88]:
colonnes = [0, 1, 20, 40, 60, 65]
for individu in df_travail.index.to_list():
    sexe = df_travail['b_sexe'][individu]
    if sexe == 1:
        dataframe = insee_hommes
    else:
        dataframe = insee_femmes
    date_acte = df_travail['date_acte'][individu]
    age_acte = (df_travail['dateA'][individu] - df_travail['dateN'][individu]) / 365
    for i, col in enumerate(colonnes):
        if age_acte <= col:
            age_theorique = dataframe.iloc[date_acte.year, str(age_acte)]
            continue

,Espérance de vie à divers âges hommes,à 0 an,à 1 an,à 20 ans,à 40 ans,à 60 ans,à 65 ans
4,2023,85.7,85.1,66.2,46.6,27.9,23.6
5,2022,85.1,84.4,65.6,46,27.3,23
6,2021,85.2,84.5,65.7,46,27.4,23.1
7,2020,85.1,84.4,65.5,45.9,27.3,22.9
8,2019,85.6,84.8,66,46.4,27.8,23.4
9,2018,85.4,84.7,65.9,46.3,27.7,23.3
10,2017,85.3,84.6,65.8,46.1,27.6,23.2
11,2016,85.3,84.6,65.7,46.1,27.6,23.2
12,2015,85.1,84.4,65.6,45.9,27.4,23
13,2014 y c. Mayotte,85.4,84.7,65.8,46.2,27.7,23.3
14,2014 hors Mayotte,85.4,84.7,65.8,46.2,27.7,23.3
15,2013,85,84.3,65.5,45.9,27.4,23
16,2012,84.8,84.1,65.3,45.7,27.2,22.8
17,2011,85,84.3,65.4,45.8,27.4,23
18,2010,84.6,83.9,65.1,45.5,27.1,22.7
19,2009,84.4,83.7,64.9,45.3,27,22.6
20,2008,84.3,83.6,64.8,45.2,26.8,22.5
21,2007,84.4,83.6,64.8,45.3,26.9,22.5
22,2006,84.2,83.5,64.7,45.1,26.7,22.4
23,2005,83.8,83.1,64.3,44.8,26.4,22
24,2004,83.8,83.1,64.4,44.8,26.5,22.1
25,2003,82.9,82.2,63.5,44,25.6,21.3
26,2002,83,82.3,63.6,44.1,25.8,21.4
27,2001,82.9,82.2,63.5,44,25.7,21.4
28,2000,82.8,82.1,63.4,43.9,25.6,21.2
29,1999,82.5,81.8,63.1,43.7,25.3,21
30,1998,82.4,81.7,63,43.6,25.3,20.9
31,1997,82.3,81.6,62.9,43.5,25.2,20.9
32,1996,82,81.4,62.6,43.3,25,20.7
33,1995,81.9,81.2,62.5,43.2,24.9,20.6
34,1994,81.8,81.3,62.6,43.3,25,20.7
35,p : données provisoires arrêtées à fin 2023.,NaN,NaN,NaN,NaN,NaN,NaN
36,"Lecture : en 2023, l’espérance de vie des femm...",NaN,NaN,NaN,NaN,NaN,NaN
37,Champ : France hors Mayotte jusqu'en 2014 et y...,NaN,NaN,NaN,NaN,NaN,NaN
38,"Source : Insee, estimations de population et s...",NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
insee_hommes

,Espérance de vie à divers âges hommes,0,1,20,40,60,65
4,2023,85.7,85.1,66.2,46.6,27.9,23.6
5,2022,85.1,84.4,65.6,46,27.3,23
6,2021,85.2,84.5,65.7,46,27.4,23.1
7,2020,85.1,84.4,65.5,45.9,27.3,22.9
8,2019,85.6,84.8,66,46.4,27.8,23.4
9,2018,85.4,84.7,65.9,46.3,27.7,23.3
10,2017,85.3,84.6,65.8,46.1,27.6,23.2
11,2016,85.3,84.6,65.7,46.1,27.6,23.2
12,2015,85.1,84.4,65.6,45.9,27.4,23
13,2014 y c. Mayotte,85.4,84.7,65.8,46.2,27.7,23.3
14,2014 hors Mayotte,85.4,84.7,65.8,46.2,27.7,23.3
15,2013,85,84.3,65.5,45.9,27.4,23
16,2012,84.8,84.1,65.3,45.7,27.2,22.8
17,2011,85,84.3,65.4,45.8,27.4,23
18,2010,84.6,83.9,65.1,45.5,27.1,22.7
19,2009,84.4,83.7,64.9,45.3,27,22.6
20,2008,84.3,83.6,64.8,45.2,26.8,22.5
21,2007,84.4,83.6,64.8,45.3,26.9,22.5
22,2006,84.2,83.5,64.7,45.1,26.7,22.4
23,2005,83.8,83.1,64.3,44.8,26.4,22
24,2004,83.8,83.1,64.4,44.8,26.5,22.1
25,2003,82.9,82.2,63.5,44,25.6,21.3
26,2002,83,82.3,63.6,44.1,25.8,21.4
27,2001,82.9,82.2,63.5,44,25.7,21.4
28,2000,82.8,82.1,63.4,43.9,25.6,21.2
29,1999,82.5,81.8,63.1,43.7,25.3,21
30,1998,82.4,81.7,63,43.6,25.3,20.9
31,1997,82.3,81.6,62.9,43.5,25.2,20.9
32,1996,82,81.4,62.6,43.3,25,20.7
33,1995,81.9,81.2,62.5,43.2,24.9,20.6
34,1994,81.8,81.3,62.6,43.3,25,20.7
35,p : données provisoires arrêtées à fin 2023.,NaN,NaN,NaN,NaN,NaN,NaN
36,"Lecture : en 2023, l’espérance de vie des femm...",NaN,NaN,NaN,NaN,NaN,NaN
37,Champ : France hors Mayotte jusqu'en 2014 et y...,NaN,NaN,NaN,NaN,NaN,NaN
38,"Source : Insee, estimations de population et s...",NaN,NaN,NaN,NaN,NaN,NaN

In [2]:

url_females = "https://www.mortality.org/File/GetDocument/hmd.v6/FRATNP/STATS/fltper_1x1.txt"
url_males = "https://www.mortality.org/File/GetDocument/hmd.v6/FRATNP/STATS/mltper_1x1.txt"


response = requests.get(url_females)

if response.status_code == 200:
    contenu = response.text
    print(contenu)
else:
    print(f"La requête a échoué avec le code d'état {response.status_code}")

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css?v=20220322" />
</head>
<body>
    <header>
        <div class="header">

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/Home/Index">
        <img src="/images/logo.svg" alt="logo" />
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/Home/Index">
                    HOME
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownProject" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PROJECT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownProject">
                    <a class="dropdown-item" href="/Project/Overview">Overview</a>
                    <a class="dropdown-item" href="/Project/InstitutionalAndFinancialSupport">Institutional and Financial Support</a>
                    <a class="dropdown-item" href="/Project/History">History</a>
                    <a class="dropdown-item" href="/Project/FAQ">FAQ</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownPeople" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PEOPLE
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPeople">
                    <a class="dropdown-item" href="/People/ExecutiveBoard">Executive Board</a>
                    <a class="dropdown-item" href="/People/ResearchTeam">Research Team</a>
                    <a class="dropdown-item" href="/People/Acknowledgments">Acknowledgments</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMethods" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    METHODS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMethods">
                    <a class="dropdown-item" target="_blank" href="/File/GetDocument/Public/Docs/MP-Summary.pdf">Brief Summary</a>
                    <a class="dropdown-item" target="_blank" href="/File/GetDocument/Public/Docs/MethodsProtocolV6.pdf">Full Protocol</a>
                    <a class="dropdown-item" target="_blank" href="/File/GetDocument/Public/Docs/SpecialMethods.pdf">Special Methods</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownData" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    DATA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownData">
                    <a class="dropdown-item" href="/Data/DataAvailability">Data Availability</a>
                    <a class="dropdown-item" href="/Data/ZippedDataFiles">Zipped Data Files</a>
                    <a class="dropdown-item" href="/Data/ExplanatoryNotes">Explanatory Notes</a>
                    <a class="dropdown-item" href="/Data/STMF">STMF</a>
                    <a class="dropdown-item" href="/Data/WhatsNew">What’s New</a>
                    <a class="dropdown-item" href="/Data/UserAgreement">User Agreement</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownProject" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    RESEARCH
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownProject">
                    <a class="dropdown-item" href="/Research/Events">Events</a>
                    <a class="dropdown-item" href="/Research/CitationGuidelines">Citation Guidelines</a>
                    <a class="dropdown-item" target="_blank" href="/File/GetDocument/Public/HMD-Publist.pdf">HMD Bibliography</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    LINKS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownLink">
                    <a class="dropdown-item" href="https://www.lifetable.de/cgi-bin/index.php" target="_blank">Human Life Table Database</a>
                    <a class="dropdown-item" href="https://www.causesofdeath.org/cgi-bin/main.php" target="_blank">Human Cause-of-Death Database</a>
                    <a class="dropdown-item" href="/Links/SubnationalMortalityDatabases">Subnational Mortality Databases</a>
                </div>
            </li>
        </ul>
        <div class="contact-login">
    <a target="_blank" href="https://twitter.com/hmdatabase" class="icon">
        <svg width="30" height="30" fill="none">
            <use xlink:href="/images/icons.svg#twitter"></use>
        </svg>
    </a>
        <a class="border-btn" href="/Account/Auth">Registration</a>
        <a class="bg-btn" href="/Account/Login">Login</a>
</div>
    </div>
</nav>
        </div>
        <!--/.header-->
        <div class="manage-fixed-nav-height"></div>
        <!--/.manage-fixed-nav-height-->
    </header>
    <div class="page-wrapper">
        <div class="container">


<div class="row">
    <div class="col-lg-12">
        <h1>Login</h1>
        <p>We are very sorry for the inconvenience but we recently changed our user agreement and even if you are a current HMD user (before June 15, 2022), you will need to register again, update your contact information, and accept the new user agreement before being able to download HMD data. Please use the Registration button located at the top of this page or <a href="/Account/Auth">click here</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>
                <input type="hidden" name="ReturnUrl" value="">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="bg-btn">Login</button>
                </div>

                <br />
                <a href="/Account/ForgotPassword">Forgot password</a>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HWv8kmFrNlKhuWQXpKgwVL0VQK8Urh5Px3rk1KnBvaC7RtCWvnEN-zXp-brO-D2WwHVX2PbqKiCfsXprVbzZkdX4fdtckRtxzJCqcXBYWHkpUFg8Zd_9yl5ll95Km104XeYeG2n_1Gzjn-aye-rbrc" /></form>
        </section>
    </div>
</div>


        </div>
        <!--/.container-->
    </div><!--/.page-wrapper-->

    <div class="overlay"></div>

    <footer>
        <div class="container">
            <div class="footer__wrapper">
    <ul class="service">
        <li class="copy">&copy; 2024 MPIDR</li>
        <li>
            <p class="divider">//</p>
            <a href="mailto:hmd@mortality.org">Contact</a>
        </li>
        <li>
            <p class="divider">//</p>
            <a href="/Home/Imprint">Imprint</a>
        </li>
        <li>
            <p class="divider">//</p>
            <a href="/Home/Privacy">Privacy Policy</a>
        </li>
        <li>
            <p class="divider">//</p>
            <a href="/Home/Sitemap">Sitemap</a>
        </li>
    </ul>
    <ul class="social">
        <li>
            <a href="https://twitter.com/hmdatabase" target="_blank">
                <svg width="30" height="30" fill="none">
                    <use xlink:href="/images/icons.svg#twitter"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="mailto:hmd@mortality.org">
                <svg width="30" height="30" fill="none">
                    <use xlink:href="/images/icons.svg#envelope"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>

        </div><!--/.container-->
        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['disableCookies']);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//matomo.gwdg.de/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '424']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//matomo.gwdg.de/piwik.php?idsite=346&rec=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Matomo Code -->
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/modal.js"></script>


    <script src="/old/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/old/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>

In [6]:
with open(url_females, 'r') as fichier:
    contenu = fichier.read()

contenu

FileNotFoundError: [Errno 2] No such file or directory: 'https://www.mortality.org/File/GetDocument/hmd.v6/FRATNP/STATS/fltper_1x1.txt'